@import "tailwindcss";

@theme inline {
  --color-primary: #ffab00;
  --color-primary-dark: #e09a00;
  --color-secondary: #f6ea00;
  --color-bg-dark: #040404;
  --color-bg-card: #0d0d0d;
  --color-bg-section: #181818;
  --color-accent: #ffab00;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #040404;
  color: #e5e5e5;
}
